<!--<html>
    <body>
        <h1>Welcome to Deployment Class</h1>
        <p>This is the session blah blah blah</p>
    </body>
</html> -->

<!--if someone hits '/', I need to show this page, so we have to create a connection between this page and main.py-->

<!--add render template in main.py-->

<html>
    <body>
        <form method="post" action="/predict">
            <input type="number" name="balance" placeholder ="balance" required="required">
            <input type="number" name="income" placeholder ="income" required="required">
            <input type="number" name="student" placeholder ="student" required="required">
            <button>Submit</button>

        </form>
    </body>
</html>